:root{
    --background: #0C0B08;
    --low-background: #0C0C0C;
    --low-p: #AAAAAA;
    --h2-text-btn: #DCCA87;
    --litle-text: #F5EFDB;
    --div-line: #FAFAFA;
    --standart-text: #FFFFFF;
}

.container{
    margin: 0 auto;
    width: 1680px;
}
body{
    font-family: "Cormorant Upright";
    background-color: var(--background);
}

button,input{
    box-shadow: none;
    border: none;
}

button{
    cursor: pointer;
}




/* ------------------------header------------------------*/
.nav{
    display: flex;
    gap: 32px;
    color: var(--standart-text);

    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0.64px;
    margin-left: 166px;
    align-items: center;

}
.div{
    display: flex;
    gap: 50px;
}
.header-div{
    display: flex;
    padding: 32px 0;
    justify-content: space-between;
    align-items: center;
}
.line{
    height: 57px;
    width: 1px;
    background-image: radial-gradient(ellipse
    at center,
    white ,
    var(--background) 75%
  );
}
.header{
    background-color:var(--background);
}
.logo{
    color: var(--standart-text);
    text-align: center;
    font-size: 44px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 1.76px;
    text-transform: uppercase;
}
.div{
    color: var(--standart-text);
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 175%;
    letter-spacing: 0.8px;
    text-transform: capitalize;
}
.div a{
    padding: 14.5px 0;
}

/*.a-div-div{
    width: 0;
    font-size: 0;
    height: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-color: var(--background);
    align-items: center;
}
.a-div{
    position: relative;
    cursor: default;
}
.a-div:hover .a-div-div{
    position: absolute;
    width: 100px;
    height: 75px;
    font-size: 16px;
    padding-bottom: 10px;
    left: -26.5px;
    border: 2px solid var(--h2-text-btn);
    border-top: none;
}
.a-div::after{
    content: "";
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url(img/contactUsImage/arrow.png);
    top: 2px;
    left: 47px;
}
.a-div:hover::after{
    content: "";
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url(img/contactUsImage/arrow.png);
    top: 2px;
    left: 47px;
    rotate: 90deg;
}*/

.a-div-div{
    width: 0;
    font-size: 0;
    height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background);
}
.a-div{
    position: relative;
    cursor: pointer;
}
.a-div:hover::after{
    content: "";
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url(img/contactUsImage/arrow.png);
    top: 2px;
    left: 47px;
    z-index: 0;
}
.a-div-transp{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: flex-end;
    justify-content: space-between;
    padding: 15px 0 5px 0;
    gap: 2.5px;
}
.a-div:active .a-div-div{
    position: absolute;
    width: 100px;
    height: max-content;
    font-size: 16px;
    padding-bottom: 10px;
    top: 2px;
    left: -26.5px;
    border: 2px solid var(--h2-text-btn);
    border-top: none;
}
.a-div-div:hover .div-p::after {
    content: "";
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url(img/contactUsImage/arrow.png);
    top: 2px;
    left: 47px;
    rotate: 90deg;
}
.div-p{
    position: relative;
}
.a-div-div:hover{
    position: absolute;
    width: 100px;
    height: max-content;
    font-size: 16px;
    padding-bottom: 10px;
    top: 0;
    left: -26.5px;
    border: 2px solid var(--h2-text-btn);
    border-top: none;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}



 /*------------------------2------------------------ */
.a-div-div-2{
    width: 0;
    font-size: 0;
    height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background);
}
.a-div-2{
    position: relative;
    cursor: pointer;
}
.header-a-2{
    position: relative;
}
.a-div-2:hover::after{
    content: "";
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url(img/contactUsImage/arrow.png);
    top: 2px;
    left: 35px;
    z-index: 0;
}
.a-div-transp-2{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: flex-end;
    justify-content: space-between;
    padding: 15px 0 5px 0;
    gap: 2.5px;
}
.a-div-2:active .a-div-div-2{
    position: absolute;
    height: max-content;
    font-size: 16px;    
    padding-bottom: 10px;
    top: 2px;
    left: -56.5px;
    border: 2px solid var(--h2-text-btn);
    border-top: none;
    width: 148px;
}
.a-div-div-2:hover .div-p-2::after {
    content: "";
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url(img/contactUsImage/arrow.png);
    top: 2px;
    left: 35px;
    rotate: 90deg;
}
.div-p-2{
    position: relative;
}
.a-div-div-2:hover{
    position: absolute;
    height: max-content;
    width: 148px;
    font-size: 16px;
    padding-bottom: 10px;
    top: 0;   
    left: -56.5px;
    border: 2px solid var(--h2-text-btn);
    border-top: none;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}











/* ------------------------the key------------------------ */
.the-key-div{
    display: flex;
    width: 161px;
    justify-content: space-between;
    transform: rotate(270deg);
    position: relative;
    left: -64.75px;
}
.the-key-div-p{
    color: var(--standart-text);
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.75; /* 31.5px */
    letter-spacing: 0.72px;
}
.the-key>div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.the-key{
    padding-top: 72px;
    padding-bottom: 147px;
}
.the-key-p-h1{
    color: var(--standart-text);
    font-variant-numeric: lining-nums tabular-nums;
    font-size: 23px;
    font-weight: 700;
    line-height: 1.30; /* 29.9px */
    letter-spacing: 0.92px;
    text-transform: capitalize;
}

.spoon-right::after{

    content: "";
    display: block;
    width: 40px;
    height: 9px;
    margin-top: 8px;
    background-image: url(img/homeImage/spoon.png);
}

.the-key-h1{
    color: var(--h2-text-btn);
    font-size: 90px;
    font-weight: 700;
    line-height: 1.30;
    letter-spacing: 3.6px;
    text-transform: capitalize;
}
.the-key-h1-p{
    color:  var(--low-p);

    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0.64px;
    margin-top: 32px;
}
.the-key-btn{
    padding: 8px 32px;
    background: var(--h2-text-btn);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--background);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.75;
    letter-spacing: 0.64px;
    margin-top: 32px;
}
.the-key>div:nth-child(1)>div:nth-child(2){
    width: 454px;
}
.the-key-img{
    margin-right: 190px;
    z-index: 2;
    position: relative;
}
.the-key-box{
    position: relative;
}
.the-key-box::after{
    top: -24px;
    right: 166px;
    content: "";
    display: block;
    width: 435px;
    height: 435px;
    position: absolute;
    z-index: 1;
    background: var(--h2-text-btn);
}
.the-key-box::before{
    bottom: -24px;
    left: -24px;
    content: "";
    display: block;
    width: 435px;
    height: 435px;
    position: absolute;
    z-index: 1;
    background: var(--h2-text-btn);
}
.the-key-content{
    margin-right: 46px;
}
.the-key-finish-div{
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    margin-top: 88px;
    color: var(--litle-text);
    font-variant-numeric: lining-nums tabular-nums;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.75; /* 28px */
    letter-spacing: 0.64px;
    text-transform: capitalize;
}
.the-key-finish-div p:nth-child(1)
{
    color: var(--standart-text);
}
.the-key-{
    width: 16px ;
    height: 1px;
    background: var(--h2-text-btn);
}











/* ------------------------about us------------------------ */



.about-us{
    display: flex;
    justify-content: center;
    column-gap:74px;
    position: relative;
    align-items: center;
    padding-bottom: 136px;
}
.the-key-div-2{
    position: relative;
}
.about-us-scroll{
    text-align: center;
    width: 61px;
    height: 113px;
    position: absolute;
    right: 0;
    top: -85px;
}
.about-us-scroll-div{
    width: 1px;
    height: 61px;
    margin: 0 auto;
    background-image: linear-gradient(var(--h2-text-btn),#DCCA873D);
    margin-bottom: 24px;
}
.about-us-scroll-p{
    color: var(--h2-text-btn);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.75;
    letter-spacing: 0.64px;
    text-transform: uppercase;

}
.about-us-section{
    background-image: 
    url(img/homeImage/g.svg),
    linear-gradient(rgba(4, 4, 4, 0.5),rgba(4, 4, 4, 0.5)),
    url(img/homeImage/background.jpg);
    background-repeat: 
    no-repeat,
    no-repeat,
    no-repeat;
    background-position: 
    center,
    center,
    center;
    position: relative;
    z-index: 2;
}
.about-us-h2{
    color: var(--h2-text-btn);
    font-variant-numeric: lining-nums tabular-nums;

    font-size: 64px;
    font-weight: 600;
    line-height: 1.30;
    letter-spacing: 1.92px;
    text-transform: capitalize;
}
.about-us-div:nth-child(1) h2::after{
    content: "";
    display: block;
    width: 40px;
    height: 9px;
    margin-bottom: 8px;
    margin-left: auto;
    background-image: url(img/homeImage/spoon.png);
    transform: rotate(180deg);
}
.about-us-div-right h2::after{
    content: "";
    display: block;
    width: 40px;
    height: 9px;
    margin-top: 8px;
    margin-right: auto;
    background-image: url(img/homeImage/spoon.png);
}
.about-us-div:nth-child(1) button{
    margin-left: auto;
}
.about-us-div:nth-child(1){
    text-align: right;
}.about-us-div:nth-child(2){
    text-align: left;
    margin-left: 22px;
}
.about-us-img{
    margin-top: 120px;
}

.about-us-p{
    color: var(--low-p);

    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0.64px;
    width: 523px;
    margin-top: 32px;
}
.about-us-btn{
    background: var(--h2-text-btn);
    display: flex;
    padding: 8px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0C0C0C;

    font-family: "Cormorant Upright";
    font-size: 16px;
    font-weight: 700;
    line-height: 1.75;
    letter-spacing: 0.64px;
    margin-top: 32px;
}
.about-us-delight{
    width: 146px;
    height: 146px;
    background-image: url(img/homeImage/delight.svg);
    position: absolute;
    bottom: -126px;
    right: 31px;
}







/* ------------------------Book------------------------ */
.book-p{
    color: var(--standart-text);
    font-variant-numeric: lining-nums tabular-nums;

    font-size: 23px;
    font-weight: 700;
    line-height: 1.30;
    letter-spacing: 0.92px;
    text-transform: capitalize;
}
.book-h2{
    color: var(--h2-text-btn);
    text-align: center;
    font-variant-numeric: lining-nums tabular-nums;
    padding-top: 8px;
    font-size: 64px;
    font-weight: 600;
    line-height: 1.30;
    letter-spacing: 1.92px;
    text-transform: capitalize;
}
.book-div{
    display: flex;
    padding: 48px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
    border: 1px solid rgba(220, 202, 135, 0.20);
    background: var(--0C0C0C, #0C0C0C);

    /* Dark Card shadow */
    box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.70);
    width: max-content;
    margin: 0 auto;
}
.book-div-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.book-ul{
    display: flex;
    gap: 32px;
}
.book-input{
    width: 412px;
    height: 60px;
    border: 1px solid var(--litle-text);
    color: var(--low-p);
    font-variant-numeric: lining-nums tabular-nums;

    font-family: "Cormorant Upright";
    font-size: 16px;
    font-weight: 600;
    line-height: 1.75;
    letter-spacing: 0.64px;
    text-transform: capitalize;
    padding-left: 16px;
    appearance: none;
    position: relative;
    background: url(img/homeImage/selectTriangle.svg) no-repeat;
    background-position: 372px 16px;
}
.book-btn{
    color: #0C0C0C;

    font-family: "Cormorant Upright";
    font-size: 16px;
    font-weight: 700;
    line-height: 1.75;
    letter-spacing: 0.64px;

    border: 1px solid var(--h2-text-btn);
    background: var(--h2-text-btn);

    display: flex;
    padding: 8px 32px;
    justify-content: center;
    align-items: center;
}
.book{
    padding-bottom: 152px;
    padding-top: 157px;
}















/* ------------------------menu------------------------ */
.menu{
    background-image: linear-gradient(rgba(12,12,12,0.4),rgba(12,12,12,0.4)), url(img/homeImage/beer.jpg);
    background-repeat:no-repeat,repeat-y;
    background-position:center, bottom;
}
.menu-div{
    height: 100%;
    background-image: url(img/homeImage/delight.svg);
    background-repeat: no-repeat;
    background-position: 0 10px;
    padding: 293px 0 262px 0;
}
.menu-a{
    color: var(--standart-text);
    font-variant-numeric: lining-nums tabular-nums;

    font-size: 64px;
    font-weight: 600;
    line-height: 1.30;
    letter-spacing: 1.92px;
    text-transform: capitalize;
}
.menu-a:hover{
    color: var(--standart-text);
    font-variant-numeric: lining-nums tabular-nums;
    font-size: 64px;
    font-weight: 600;
    line-height: 1.30;
    letter-spacing: 1.92px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    text-transform: capitalize;
}
.menu-ul{
    display: flex;
    flex-direction: column;
    gap: 64px;
}















/* ------------------------special------------------------ */
.special-p{
    color: var(--standart-text);
    font-size: 23px;
    font-weight: 700;
    line-height: 1.30;
    letter-spacing: 0.92px;
    text-transform: capitalize;
    text-align: center;
}
.special-h2{
    padding-top: 8px;
    color: var(--h2-text-btn);
    text-align: center;
    font-size: 64px;
    font-weight: 600;
    line-height: 1.30;
    letter-spacing: 2.56px;
    text-transform: capitalize;
}
.special-h3{
    color: var(--FFFFFF, var(--standart-text));
    text-align: center;
    font-variant-numeric: lining-nums tabular-nums;

    /* H3 45px Cormorant upright Semi */
    font-family: "Cormorant Upright";
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 58.5px */
    letter-spacing: 1.8px;
    text-transform: capitalize;
}
.special{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 152px 0;
}
.special-name{
    color: var(--h2-text-btn);
    font-variant-numeric: lining-nums tabular-nums;

    font-size: 23px;
    font-weight: 700;
    line-height: 1.30;
    letter-spacing: 0.92px;
    text-transform: capitalize;
    flex-grow: 2;
}
.special-line{
    width: 119px;
    height: 1px;
    background: #FAFAFA;
}
.special-price{
    color: var(--standart-text);
    text-align: center;
    font-variant-numeric: lining-nums tabular-nums;

    font-size: 23px;
    font-weight: 700;
    line-height: 1.30;
    letter-spacing: 0.92px;
    text-transform: capitalize;
}
.special-alco{
    color: var(--low-p);

    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0.64px;
}
.special>div{
    display: flex;
    gap: 32px;
    margin: 64px 0;
}
.special>div>div{
    display: flex;
    flex-direction: column;
    row-gap: 48px;
}
.special-li>div{
    display: flex;
    column-gap: 32px;
    align-items: center;
}
.special-ul{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.special-btn{
    color: #0C0C0C;

    /* Button */
    font-family: "Cormorant Upright";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 175%; /* 28px */
    letter-spacing: 0.64px;
    display: flex;
    padding: 8px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: var(--h2-text-btn);
}







/* ------------------------chef------------------------ */
.chef{
    display: flex;
    background-image:linear-gradient(rgba(4, 4, 4, 0.5),rgba(4, 4, 4, 0.5)), url(img/homeImage/background.jpg);
    padding: 128px 0;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
}
.chef-div::after{
    position: absolute;
    content: "";
    width: 146px;
    height: 146px;
    background-image: url(img/homeImage/delight.svg);
    bottom: -224px;
    right: 167px;
}
.chef-word{
    color: var(--standart-text);
    font-variant-numeric: lining-nums tabular-nums;

    font-size: 23px;
    font-weight: 700;
    line-height: 1.30; 
    letter-spacing: 0.92px;
    text-transform: capitalize;
}
.chef-h2{
    margin-top: 8px;
    color: var(--DCCA87, var(--h2-text-btn));
    font-variant-numeric: lining-nums tabular-nums;

    font-size: 64px;
    font-weight: 600;
    line-height: 1.30;
    letter-spacing: 1.92px;
    text-transform: capitalize;
}
.chef-text{
    color: var(--AAAAAA, var(--low-p));
    font-family: "Open Sans";
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0.64px;
}
.chef-text::before{
    content: "";
    display: inline-block;
    width: 47px;
    height: 40px;
    background-image: url(img/homeImage/paws.svg);
    margin-right: 10px;
}
.chef-div{
    display: flex;
    align-items: center;
    gap: 96px;
    padding: 0 190px;
    position: relative;
}
.chef-div>div:nth-child(2){
    display: flex;
    flex-direction: column;
    gap: 64px;
}
.chef-name{
    color: var(--h2-text-btn);
    font-variant-numeric: lining-nums tabular-nums;

    font-size: 32px;
    font-weight: 400;
    line-height: 1.30; 
    letter-spacing: 1.28px;
    text-transform: capitalize;
}
.chef-who{
    color: var(--low-p);

    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0.64px;
}
.chef-best{
    color:var(--low-p);
    font-family: Bestermind;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 83.2px */
    letter-spacing: 2.56px;
}
.chef-img{
    position: relative;
    z-index: 2;
    max-width: none;
}
.chef-div>div:nth-child(1){
    display: block;
    margin-left: 214px;
    width: 586px;
    height: 741px;
    position: relative;
}








/* ------------------------customer------------------------ */
.customer{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 152px 190px;
}
.customer>div{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.customer-p{
    color: var(--standart-text);
    font-variant-numeric: lining-nums tabular-nums;

    font-size: 23px;
    font-weight: 700;
    line-height: 1.30;
    letter-spacing: 0.92px;
    text-transform: capitalize;
}
.customer-h2{
    padding-top: 8px;
    color: var(--h2-text-btn);
    font-variant-numeric: lining-nums tabular-nums;

    font-size: 64px;
    font-weight: 600;
    line-height: 1.30;
    letter-spacing: 1.92px;
    text-transform: capitalize;
}
.customer-ul-p{
    color: var(--low-p);
    font-family: "Open Sans";
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0.64px;
    margin-top: 18px;
}
.customer-ul-h4{
    color: var(--h2-text-btn);
    font-variant-numeric: lining-nums tabular-nums;

    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.30;
    letter-spacing: 1.28px;
    text-transform: capitalize;
    margin-top: 16px;
}
.customer-ul-who{
    color: var(--litle-text);

    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0.64px;
    margin-top: 4px;
    margin-bottom: 18px;
}

.customer-ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 64px 32px;
}
.customer-li{
    flex-basis: calc((100% - 32px)/2);
    display: flex;
}
.customer-content-div{
    display: flex;
    flex-direction: column;
    margin-left: 32px;
}
.customer-img{
    max-width: none;
    position: relative;
}
.customer-img-div::after{
    position: absolute;
    content: "";
    width: 47px;
    height: 40px;
    background-image: url(img/homeImage/paws.svg);
    bottom: 0px;
    right: -16px;
}
 .customer-img-div{
    position: relative;
 }








/* ------------------------video------------------------*/
.video-div{
    display: block;
    background-image:url(img/homeImage/delight.svg),url(img/homeImage/play.png);
    background-position: 77px 147px, center;
    background-repeat: no-repeat;
    height: 763px;
}
.video{
    background-image: linear-gradient(rgba(12,12,12,0.4),rgba(12,12,12,0.4)),url(img/homeImage/video.jpg);
    background-position: center;
    background-repeat: no-repeat;
}







/* ------------------------laurels------------------------ */

.laurels{
    background-image:linear-gradient(rgba(4, 4, 4, 0.5),rgba(4, 4, 4, 0.5)), url(img/homeImage/background.jpg);
    padding: 128px 0;
    background-position: center;
    background-repeat: no-repeat;
}

.laurels-p{
    color: var(--standart-text);
    font-variant-numeric: lining-nums tabular-nums;

    /* H5 23px Cormorant Upright */
    font-family: "Cormorant Upright";
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 29.9px */
    letter-spacing: 0.92px;
    text-transform: capitalize;
}
.laurels-div{
    display: flex;
    gap: 183px;
    padding: 0 190px;
}
.laurels-h2{
    margin-top: 8px;
    color: var(--h2-text-btn);
    font-variant-numeric: lining-nums tabular-nums;
    font-size: 64px;
    font-weight: 600;
    line-height: 1.30;
    letter-spacing: 1.92px;
}
.laurels-content{
    display: flex;
    flex-direction: column;
    gap: 64px;
}
.laurels-ul{
    display: flex;
    justify-content: space-between;
    gap: 64px 32px;
    flex-wrap: wrap;
}
.laurels-li{
    display: flex;
    gap: 32px;
    flex-basis: calc((100% - 32px)/2);
}
.laurels-img{
    max-width: none;
}
.laurels-img-div{
    position: relative;
}
.laurels-img-div::after{
    content: "";
    display: block;
    width: 360px;
    height: 379px;
    position: absolute;
    bottom: 0;
    left: -72px;
    background-image: url(img/homeImage/g_low.svg);
}
.laurels-h4{
    color: var(--h2-text-btn);
    font-variant-numeric: lining-nums tabular-nums;

    font-size: 23px;
    font-weight: 700;
    line-height: 1.30;
    letter-spacing: 0.92px;
    text-transform: capitalize;
}
.laurels-lorem{
    color: var(--low-p);

    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0.64px;
    margin-top: 8px;
}
.laurels-content-img{
    max-width: none;
    margin: auto 0;
}







/* ------------------------updates------------------------ */
.updates{
    padding: 152px 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.updates-p{
    color: var(--FFFFFF, var(--standart-text));
    font-variant-numeric: lining-nums tabular-nums;
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    line-height: 1.30;
    letter-spacing: 0.92px;
    text-transform: capitalize;
}
.updates-h2{
    margin-top: 8px;
    color: var(--h2-text-btn);
    font-variant-numeric: lining-nums tabular-nums;
    text-align: center;
    font-size: 64px;
    font-weight: 600;
    line-height: 1.30; /* 83.2px */
    letter-spacing: 1.92px;
    text-transform: capitalize;
}
.updates-ul{
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
    gap: 32px;
}
.updates-div{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}
.updates-date{
    color: #FAFAFA;

    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0.64px;
}
.updates-a{
    color: var(--h2-text-btn);
    font-variant-numeric: lining-nums tabular-nums;

    font-size: 32px;
    font-weight: 400;
    line-height: 1.30;
    letter-spacing: 1.28px;
    text-transform: capitalize;
    margin-top: 32px;
}
.updates-a:hover{
    color: var(--DCCA87, var(--h2-text-btn));
    font-variant-numeric: lining-nums tabular-nums;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.30;
    letter-spacing: 1.28px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    text-transform: capitalize;
}
.updates-text{
    color: var(--AAAAAA, var(--low-p));

    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75; /* 28px */
    letter-spacing: 0.64px;
    margin-top: 32px;
}
.updates-more{
    color: var(--h2-text-btn);

    font-size: 16px;
    font-weight: 700;
    line-height: 1.75; /* 28px */
    letter-spacing: 0.64px;
    margin-top: 32px;
}
.updates-btn{
    display: flex;
    padding: 8px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--h2-text-btn);

    color: var(--0C0C0C, #0C0C0C);

    font-family: "Cormorant Upright";
    font-size: 16px;
    font-weight: 700;
    line-height: 1.75; /* 28px */
    letter-spacing: 0.64px;

    margin-top: 64px;
}
.updates-img-div{
    position: relative;
}
.updates-img-div::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 412px;
    height: 430px;
    border: 1px solid rgba(220, 202, 135, 0.20);
}
.updates-delight::after{
    content: "";
    display: block;
    width: 146px;
    height: 146px;
    background-image: url(img/homeImage/delight.svg);
    position: absolute;
    right: -48px;
    bottom: 123px;
}







/* ------------------photogallery------------------ */
.photogallery-instagram{
    color: var(--standart-text);
    font-variant-numeric: lining-nums tabular-nums;

    font-size: 23px;
    font-weight: 700;
    line-height: 1.30;
    letter-spacing: 0.92px;
    text-transform: capitalize;
}
.photogallery-h2{
    margin-top: 8px;
    color: var(--h2-text-btn);
    font-variant-numeric: lining-nums tabular-nums;

    font-family: "Cormorant Upright";
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.30;
    letter-spacing: 1.92px;
    text-transform: capitalize;
}
.photogallery-p{
    color:  var(--low-p);

    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0.64px;
    margin: 24px 0;
    width: 491px;
}
.photogallery-bttn{
    display: flex;
    padding: 8px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--h2-text-btn);
    background: var(--h2-text-btn);
    color: var(--0C0C0C, #0C0C0C);

    font-family: "Cormorant Upright";
    font-size: 16px;
    font-weight: 700;
    line-height: 1.75;
    letter-spacing: 0.64px;
}
.photogallery-div {
    display: flex;
    gap: 32px;
    overflow-x: auto;
    scrollbar-width: none;
    width: 1055px;
}

.photogallery-img{
    width: 301px;
    height: 447px;
    max-width: none;
}
.photogallery{
    display: flex;
    padding: 130px 0 128px 310px;
    gap: 64px;
    margin: 0 auto;
    width: 1920px;
    align-items: center;
    position: relative;
    background-image: linear-gradient(rgba(4,4,4,0.5),rgba(4,4,4,0.5)), url(img/homeImage/blackbackground.jpg);
}
.photogallery-div a::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 301px;
    height: 447px;
    border: 2px solid rgba(220, 202, 135, 0.20);
}
.photogallery-div a:hover::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 301px;
    height: 447px;
    background: url(img/homeImage/u_instagrambigger.png), linear-gradient(208deg, rgba(0, 0, 0, 0.75) 1.5%, rgba(0, 0, 0, 0.64) 98.62%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 52px 52px, 100%;
    border: 2px solid rgba(220, 202, 135, 0.20);
}
.photogallery-div div{
    position: relative;
}
.photogallery-delight{
    position: absolute;
    width: 146px;
    height: 146px;
    background-image: url(img/homeImage/delight.svg);
    bottom: -87px;
    left: 106px;
}








/* ------------------------footer------------------------ */
.footer{
    background-image:linear-gradient(rgba(4, 4, 4, 0.5),rgba(4, 4, 4, 0.5)), url(img/homeImage/background.jpg);
    background-repeat: no-repeat;
    background-position: center 373px;
}
.footerfirst-style{
    padding-top: 113px;
}
.footerfirst{
    padding-top: 152px;
}
.footerfirst-p{
    color: var(--standart-text);
    text-align: center;
    font-variant-numeric: lining-nums tabular-nums;
    font-size: 23px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.92px;
    text-transform: capitalize;
}
.footerfirst-h2{
    margin-top: 8px;
    color: var(--h2-text-btn);
    text-align: center;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: "Cormorant Upright";
    font-size: 64px;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: 1.92px;
    text-transform: capitalize;
}
.footerfirst-miss{
    margin-top: 24px;
    color: var(--standart-text);
    text-align: center;

    /* Body 16px Regular */
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 175%; /* 28px */
    letter-spacing: 0.64px;
}
.footerfirst-btn{
    padding: 8px 32px;
    color: #0C0C0C;
    
    border: 1px solid var(--h2-text-btn);
    background: var(--h2-text-btn);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.75;
    font-family: "Cormorant Upright";
    letter-spacing: 0.64px;
    height: 44px;
}
.footerfirst-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    gap: 32px;
}
.footerfirst-input{
    width: 635px;
    height: 62px;   
    padding: 16px 501px 16px 19px;
    border: 1px solid rgba(220, 202, 135, 0.20);
    background: #0C0C0C;
    box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.70);
    font-family: "Cormorant Upright";
    color: var(--low-p);
    font-variant-numeric: lining-nums tabular-nums;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.75;
    letter-spacing: 0.64px;
    text-transform: capitalize;
}
.footerfirst-div{
    border: 1px solid rgba(220, 202, 135, 0.20);
    background: #0C0C0C;
    box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.70);
    width: max-content;
    padding: 64px 252px;
    margin: 0 auto;
}
.footersecond-h3{
    color: var(--litle-text);
    font-variant-numeric: lining-nums tabular-nums;

    font-size: 32px;
    font-weight: 400;
    line-height: 1.30;
    letter-spacing: 1.28px;
    margin-bottom: 16px;
    text-transform: capitalize;
    display: block;
    white-space: nowrap;
}
.footersecond-h2{
    color: var(--h2-text-btn);
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 83.2px */
    letter-spacing: 2.56px;
    text-transform: uppercase;
}
.footersecond-ul{
    padding-top: 128px;
    gap: 126px;
    display: flex;
    align-items: center;
}
.footersecond-li{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footersecond-li:nth-child(2){
    margin-right: 102px;
}
.footersecond-a{
    color: var(--AAAAAA, var(--low-p));
    margin-top: 8px;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75; 
    letter-spacing: 0.64px;
    display: block;
    white-space: nowrap;
}
.footersecond-h2-p{
    color: var(--standart-text);
    text-align: center;

    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;  
    margin-top: 32px;
    letter-spacing: 0.64px;
}
.spoon::after{
    content: "";
    display: block;
    width: 40px;
    height: 9px;
    margin: 0 auto;
    margin-top: 8px;
    background-image: url(img/homeImage/spoon.png);
}
.programs{
    display: flex;
    gap: 16px;
    margin-top: 16px;
}
.footersecond-p{
    color:  var(--low-p);
    text-align: center;

    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0.64px;
}
.footersecond-p-first{
    margin: 8px 0;
}
.footersecond-p-footer{
    color:  var(--low-p);
    text-align: center;

    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0.64px;
    margin-top: 80px;
}
.footersecond{
    padding: 0 190px;
    padding-bottom: 144px;
    position: relative;
}
.footersecond-top{
    position: absolute;
    right: 0;
    top: -41px;
    text-align: center;
    width: 32px;
    height: 97px;
}
.footersecond-top-div{
    width: 1px;
    height: 61px;
    background-image: linear-gradient(var(--h2-text-btn),#DCCA873D);
    margin: 0 auto;
    margin-bottom: 8px;
}
.footersecond-top-p{
    color: var(--h2-text-btn);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.75; 
    letter-spacing: 0.64px;
    text-transform: uppercase;
}